## Pandas - Working with Tabular Data
 Used to maintain Axcel Sheets, CSV Files(Comma Separated Files)

### 1. Creating Data

In [2]:
import numpy as np

In [3]:
pokemons = {
    "Pokemon_Height": np.random.randint(1,100,5),
    "Pokemon_Weight": np.random.randint(50, 150, 5),
    "Pokemon_Power": np.random.randint(200, 250, 5)
}

In [4]:
pokemons

{'Pokemon_Height': array([52, 30, 46, 15, 40]),
 'Pokemon_Weight': array([132, 107,  85,  61,  98]),
 'Pokemon_Power': array([248, 225, 217, 233, 204])}

### 2. Importing pandas

In [5]:
import pandas as pd

### 3. Storing above data in an Axcel Sheet

In [6]:
df = pd.DataFrame(pokemons)
print(df)

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              52             132            248
1              30             107            225
2              46              85            217
3              15              61            233
4              40              98            204

### 4. Getting a better representation of above table

In [7]:
df.head()

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              52             132            248
1              30             107            225
2              46              85            217
3              15              61            233
4              40              98            204

### 5. Trancating some of the rows from the end

In [8]:
df.head(n=3)

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              52             132            248
1              30             107            225
2              46              85            217

### 6. Getting Columns Name

In [9]:
df.columns

Index(['Pokemon_Height', 'Pokemon_Weight', 'Pokemon_Power'], dtype='object')

In [10]:
print(df.columns)

Index(['Pokemon_Height', 'Pokemon_Weight', 'Pokemon_Power'], dtype='object')

### 7. Creating CSV File

In [12]:
df.to_csv('6_1_Pokemon_data.csv')

### 8. Reading a DataFrame from a given CSV File

In [13]:
# Suppose '6_1_Pokemon_data.csv' is already with us
df_new = pd.read_csv('6_1_Pokemon_data.csv')

In [14]:
df_new.head()

   Unnamed: 0  Pokemon_Height  Pokemon_Weight  Pokemon_Power
0           0              52             132            248
1           1              30             107            225
2           2              46              85            217
3           3              15              61            233
4           4              40              98            204

In [16]:
df_new.drop(columns = ['Unnamed: 0'])

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              52             132            248
1              30             107            225
2              46              85            217
3              15              61            233
4              40              98            204

In [17]:
df_new.shape

(5, 4)